# Concat all csv files from archive csvYourBoardingData

In [17]:
import pandas as pd
import glob

# Путь к директории с файлами csv извлеченными из архива
path = r'./data/csvYourBoardingData'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [20]:
frame = frame.loc[:, ~df.columns.str.contains('^Unnamed')]

In [21]:
frame

,sequence,gender,name,hz,flightNumber,cityFrom,cityTo,gate,airportFrom,airportTo,date,time,share,seat,PNR,ticket
0,93,MR,GOLOVANOV DMITRII,Y,DL3539,MINNEAPOLIS/ST PAUL MN,BOISE ID,NaN,MSP,BOI,2017-11-26,11:30,Operated by Some Other Airline,NaN,JCMKZW,762361762268625
1,61,MRS,YULIYA A LOGINOVA,J,DL3903,NEW YORK NY,CHICAGO IL,NaN,JFK,ORD,2017-11-26,12:15,Operated by Some Other Airline,NaN,KAUNTH,7495554002459386
2,48,MR,VLADIMIR ANTONOV,Y,DL4168,EL PASO TX,SALT LAKE CITY UT,NaN,ELP,SLC,2017-11-26,08:00,Operated by Some Other Airline,NaN,OAMNCL,9280991095130410
3,11,MR,MARKELOV MIROSLAV,Y,VN3504,GUANGZHOU,HO CHI MINH CITY,NaN,CAN,SGN,2017-11-26,11:55,Operated by Some Other Airline,NaN,XENNWQ,7304106044464688
4,33,MRS,UTKINA AGATA B,Y,SU6016,MOSCOW,SAINT PETERSBURG,NaN,VKO,LED,2017-11-26,09:40,Operated by Some Other Airline,NaN,SHEZOP,3810434426712787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615766,38,MRS,VARVARA GRIBOVA,Y,UX1011,MALAGA,PARIS,NaN,AGP,CDG,2017-11-03,09:20,Operated by Some Other Airline,NaN,JMILGA,2447200747697036
615767,65,MRS,VIKTORIYA RUSANOVA,Y,AZ7447,MILAN,SOFIA,NaN,LIN,SOF,2017-11-03,12:55,Operated by Some Other Airline,NaN,WPSXRO,5567919613053053
615768,61,MRS,AMALIYA D CHERNOVA,Y,DL2471,NEW ORLEANS LA,NEW YORK NY,NaN,MSY,JFK,2017-11-03,15:20,Operated by Some Other Airline,NaN,DHJQKU,8474272878923853
615769,66,MRS,EVELINA BESSONOVA,Y,CZ6722,HARBIN,SANYA,NaN,HRB,SYX,2017-11-03,17:05,Operated by Some Other Airline,NaN,DANEYR,7540441971978701
615770,54,MRS,VLADIMIROVA VIOLETTA,Y,DL5315,PHILADELPHIA PA,CINCINNATI OH,NaN,PHL,CVG,2017-11-03,10:50,Operated by Some Other Airline,NaN,DBBVXT,38068789719275

In [22]:
frame.head()

,sequence,gender,name,hz,flightNumber,cityFrom,cityTo,gate,airportFrom,airportTo,date,time,share,seat,PNR,ticket
0,93,MR,GOLOVANOV DMITRII,Y,DL3539,MINNEAPOLIS/ST PAUL MN,BOISE ID,NaN,MSP,BOI,2017-11-26,11:30,Operated by Some Other Airline,NaN,JCMKZW,762361762268625
1,61,MRS,YULIYA A LOGINOVA,J,DL3903,NEW YORK NY,CHICAGO IL,NaN,JFK,ORD,2017-11-26,12:15,Operated by Some Other Airline,NaN,KAUNTH,7495554002459386
2,48,MR,VLADIMIR ANTONOV,Y,DL4168,EL PASO TX,SALT LAKE CITY UT,NaN,ELP,SLC,2017-11-26,08:00,Operated by Some Other Airline,NaN,OAMNCL,9280991095130410
3,11,MR,MARKELOV MIROSLAV,Y,VN3504,GUANGZHOU,HO CHI MINH CITY,NaN,CAN,SGN,2017-11-26,11:55,Operated by Some Other Airline,NaN,XENNWQ,7304106044464688
4,33,MRS,UTKINA AGATA B,Y,SU6016,MOSCOW,SAINT PETERSBURG,NaN,VKO,LED,2017-11-26,09:40,Operated by Some Other Airline,NaN,SHEZOP,3810434426712787

In [23]:
frame.to_csv('./data/csvYourBoardingData.csv', sep=';', index=False)

In [24]:
frame.size

9852336

In [25]:
df.isnull().sum()

Unnamed: 0         0
sequence           0
gender             0
name               0
hz                 0
flightNumber       0
cityFrom           0
cityTo             0
gate            1699
airportFrom        0
airportTo          0
date               0
time               0
share              0
seat            1699
PNR                0
ticket             0
dtype: int64