In [18]:
import numpy as np
import pandas as pd
import yaml
import json
import os

In [21]:
with open('yaml-parsed/2017-01-01.json') as f:
    jsn = json.load(f)

In [27]:
pd.json_normalize(jsn)

,FLIGHT,DATA,FF,FROM,STATUS,TO
0,AF1145,2017-01-01,"[{'CARD': 'FB 520518073', 'CLASS': 'Y', 'FARE'...",SVO,LANDED,CDG
1,AF1844,2017-01-01,"[{'CARD': 'FB 18427809', 'CLASS': 'Y', 'FARE':...",SVO,LANDED,CDG
2,AF4855,2017-01-01,"[{'CARD': 'KE 993927664', 'CLASS': 'Y', 'FARE'...",SVO,LANDED,CDG
3,AF4901,2017-01-01,"[{'CARD': 'SU 789402704', 'CLASS': 'Y', 'FARE'...",SVO,LANDED,CDG
4,AZ545,2017-01-01,"[{'CARD': 'KE 352734424', 'CLASS': 'Y', 'FARE'...",SVO,LANDED,FCO
...,...,...,...,...,...,...
424,SU6629,2017-01-01,"[{'CARD': 'DT 122392529', 'CLASS': 'Y', 'FARE'...",ROV,LANDED,TLV
425,SU704,2017-01-01,"[{'CARD': 'DT 326847397', 'CLASS': 'Y', 'FARE'...",KZN,LANDED,FRA
426,UX3264,2017-01-01,"[{'CARD': 'SU 168609725', 'CLASS': 'Y', 'FARE'...",SVO,LANDED,BCN
427,UX3284,2017-01-01,"[{'CARD': 'FB 294686096', 'CLASS': 'Y', 'FARE'...",SVO,LANDED,BCN
428,VN64,2017-01-01,"[{'CARD': 'DT 137755591', 'CLASS': 'Y', 'FARE'...",DME,LANDED,HAN

In [28]:
pd.json_normalize(jsn, record_path=['FF'], meta = ['FLIGHT', 'FROM', 'STATUS', 'TO'])

              CARD CLASS    FARE  FLIGHT FROM  STATUS   TO
0     FB 520518073     Y  YRSTFN  AF1145  SVO  LANDED  CDG
1      FB 18427809     Y  YGRPZR  AF1844  SVO  LANDED  CDG
2     KE 993927664     Y  YRSTJQ  AF4855  SVO  LANDED  CDG
3     SU 789402704     Y  YGRPAT  AF4901  SVO  LANDED  CDG
4     KE 352734424     Y  YFLXKO   AZ545  SVO  LANDED  FCO
...            ...   ...     ...     ...  ...     ...  ...
8342   SU 89111493     Y  YSTNMM    VN64  DME  LANDED  HAN
8343  SU 894609973     Y  YGRPDZ    VN64  DME  LANDED  HAN
8344  SU 896124703     Y  YSTNBI    VN64  DME  LANDED  HAN
8345  SU 950886525     Y  YGRPCV    VN64  DME  LANDED  HAN
8346  SU 954414507     Y  YFLXGR    VN64  DME  LANDED  HAN

[8347 rows x 7 columns]

In [76]:
#output_dir = 'yaml_csv'
isHeader = True
for file in os.listdir('yaml-parsed/'):
    with open('yaml-parsed/'+file) as f:
        jsn = json.load(f)
        df = pd.json_normalize(jsn, record_path=['FF'], meta = ['DATA', 'FLIGHT', 'FROM', 'STATUS', 'TO'])
        df[['PROGRAMM','NUMBER']] = df['CARD'].str.split(' ',expand=True)
        df.drop('CARD', axis=1, inplace=True)
        if isHeader:
            df.to_csv("Skyteam_Exchange.csv", mode='w', index = False)
        else:
            df.to_csv("Skyteam_Exchange.csv", mode='a', header = False, index = False)
        isHeader = False
        print("file {} done, shape = {}".format(file, df.shape))

file 2017-01-01.json done, shape = (8347, 9)
file 2017-01-02.json done, shape = (5865, 9)
file 2017-01-03.json done, shape = (2023, 9)
file 2017-01-04.json done, shape = (5448, 9)
file 2017-01-05.json done, shape = (6595, 9)
file 2017-01-06.json done, shape = (7154, 9)
file 2017-01-07.json done, shape = (936, 9)
file 2017-01-08.json done, shape = (8176, 9)
file 2017-01-09.json done, shape = (6266, 9)
file 2017-01-10.json done, shape = (5611, 9)
file 2017-01-11.json done, shape = (1857, 9)
file 2017-01-12.json done, shape = (5380, 9)
file 2017-01-13.json done, shape = (4731, 9)
file 2017-01-14.json done, shape = (1507, 9)
file 2017-01-15.json done, shape = (6286, 9)
file 2017-01-16.json done, shape = (3422, 9)
file 2017-01-17.json done, shape = (5033, 9)
file 2017-01-18.json done, shape = (7339, 9)
file 2017-01-19.json done, shape = (6690, 9)
file 2017-01-20.json done, shape = (2477, 9)
file 2017-01-21.json done, shape = (1800, 9)
file 2017-01-22.json done, shape = (2821, 9)
file 2017-01-23.json done, shape = (7750, 9)
file 2017-01-24.json done, shape = (2058, 9)
file 2017-01-25.json done, shape = (3715, 9)
file 2017-01-26.json done, shape = (7945, 9)
file 2017-01-27.json done, shape = (1532, 9)
file 2017-01-28.json done, shape = (1396, 9)
file 2017-01-29.json done, shape = (2713, 9)
file 2017-01-30.json done, shape = (6590, 9)
file 2017-01-31.json done, shape = (3450, 9)
file 2017-02-01.json done, shape = (5519, 9)
file 2017-02-02.json done, shape = (7941, 9)
file 2017-02-03.json done, shape = (2319, 9)
file 2017-02-04.json done, shape = (5202, 9)
file 2017-02-05.json done, shape = (7070, 9)
file 2017-02-06.json done, shape = (5136, 9)
file 2017-02-07.json done, shape = (2559, 9)
file 2017-02-08.json done, shape = (5895, 9)
file 2017-02-09.json done, shape = (1334, 9)
file 2017-02-10.json done, shape = (3264, 9)
file 2017-02-11.json done, shape = (4210, 9)
file 2017-02-12.json done, shape = (2957, 9)
file 2017-02-13.json done, shape = (6196, 9)
file 2017-02-14.json done, shape = (6766, 9)
file 2017-02-15.json done, shape = (2618, 9)
file 2017-02-16.json done, shape = (1977, 9)
file 2017-02-17.json done, shape = (1137, 9)
file 2017-02-18.json done, shape = (7123, 9)
file 2017-02-19.json done, shape = (5297, 9)
file 2017-02-20.json done, shape = (5426, 9)
file 2017-02-21.json done, shape = (2361, 9)
file 2017-02-22.json done, shape = (5241, 9)
file 2017-02-23.json done, shape = (6429, 9)
file 2017-02-24.json done, shape = (4700, 9)
file 2017-02-25.json done, shape = (2111, 9)
file 2017-02-26.json done, shape = (1995, 9)
file 2017-02-27.json done, shape = (6478, 9)
file 2017-02-28.json done, shape = (7668, 9)
file 2017-03-01.json done, shape = (6707, 9)
file 2017-03-02.json done, shape = (5454, 9)
file 2017-03-03.json done, shape = (1809, 9)
file 2017-03-04.json done, shape = (8389, 9)
file 2017-03-05.json done, shape = (8384, 9)
file 2017-03-06.json done, shape = (3196, 9)
file 2017-03-07.json done, shape = (6838, 9)
file 2017-03-08.json done, shape = (8446, 9)
file 2017-03-09.json done, shape = (5375, 9)
file 2017-03-10.json done, shape = (1888, 9)
file 2017-03-11.json done, shape = (3353, 9)
file 2017-03-12.json done, shape = (3844, 9)
file 2017-03-13.json done, shape = (2696, 9)
file 2017-03-14.json done, shape = (2953, 9)
file 2017-03-15.json done, shape = (5904, 9)
file 2017-03-16.json done, shape = (5624, 9)
file 2017-03-17.json done, shape = (7975, 9)
file 2017-03-18.json done, shape = (6272, 9)
file 2017-03-19.json done, shape = (5641, 9)
file 2017-03-20.json done, shape = (7180, 9)
file 2017-03-21.json done, shape = (2343, 9)
file 2017-03-22.json done, shape = (4444, 9)
file 2017-03-23.json done, shape = (6447, 9)
file 2017-03-24.json done, shape = (8248, 9)
file 2017-03-25.json done, shape = (2227, 9)
file 2017-03-26.json done, shape = (2140, 9)
file 2017-03-27.json done, shape = (3772, 9)
file 2017-03-28.json done, shape = (954, 9)
file 2017-03-29.json done, shape = (7282, 9)
file 2017-03-30.json done, shape = (4176, 9)
file 2017-03-31.json done, shape = (7085, 9)
file 2017-04-01.json done, shape = (8380, 9)
file 2017-04-02.json done, shape = (1853, 9)
file 2017-04-03.json done, shape = (5156, 9)
file 2017-04-04.json done, shape = (5453, 9)
file 2017-04-05.json done, shape = (1402, 9)
file 2017-04-06.json done, shape = (4563, 9)
file 2017-04-07.json done, shape = (3092, 9)
file 2017-04-08.json done, shape = (6572, 9)
file 2017-04-09.json done, shape = (1304, 9)
file 2017-04-10.json done, shape = (6372, 9)
file 2017-04-11.json done, shape = (6819, 9)
file 2017-04-12.json done, shape = (3501, 9)
file 2017-04-13.json done, shape = (5779, 9)
file 2017-04-14.json done, shape = (2338, 9)
file 2017-04-15.json done, shape = (6472, 9)
file 2017-04-16.json done, shape = (1562, 9)
file 2017-04-17.json done, shape = (1546, 9)
file 2017-04-18.json done, shape = (5017, 9)
file 2017-04-19.json done, shape = (4029, 9)
file 2017-04-20.json done, shape = (5086, 9)
file 2017-04-21.json done, shape = (2105, 9)
file 2017-04-22.json done, shape = (3683, 9)
file 2017-04-23.json done, shape = (2925, 9)
file 2017-04-24.json done, shape = (2884, 9)
file 2017-04-25.json done, shape = (4082, 9)
file 2017-04-26.json done, shape = (1660, 9)
file 2017-04-27.json done, shape = (7501, 9)
file 2017-04-28.json done, shape = (3552, 9)
file 2017-04-29.json done, shape = (3097, 9)
file 2017-04-30.json done, shape = (3696, 9)
file 2017-05-01.json done, shape = (6305, 9)
file 2017-05-02.json done, shape = (5419, 9)
file 2017-05-03.json done, shape = (6070, 9)
file 2017-05-04.json done, shape = (7763, 9)
file 2017-05-05.json done, shape = (6896, 9)
file 2017-05-06.json done, shape = (3840, 9)
file 2017-05-07.json done, shape = (2216, 9)
file 2017-05-08.json done, shape = (1346, 9)
file 2017-05-09.json done, shape = (6238, 9)
file 2017-05-10.json done, shape = (8442, 9)
file 2017-05-11.json done, shape = (1288, 9)
file 2017-05-12.json done, shape = (2306, 9)
file 2017-05-13.json done, shape = (1000, 9)
file 2017-05-14.json done, shape = (6730, 9)
file 2017-05-15.json done, shape = (5822, 9)
file 2017-05-16.json done, shape = (2434, 9)
file 2017-05-17.json done, shape = (1029, 9)
file 2017-05-18.json done, shape = (8549, 9)
file 2017-05-19.json done, shape = (6952, 9)
file 2017-05-20.json done, shape = (2497, 9)
file 2017-05-21.json done, shape = (2136, 9)
file 2017-05-22.json done, shape = (2231, 9)
file 2017-05-23.json done, shape = (5005, 9)
file 2017-05-24.json done, shape = (1510, 9)
file 2017-05-25.json done, shape = (2906, 9)
file 2017-05-26.json done, shape = (5112, 9)
file 2017-05-27.json done, shape = (2995, 9)
file 2017-05-28.json done, shape = (3319, 9)
file 2017-05-29.json done, shape = (7590, 9)
file 2017-05-30.json done, shape = (4471, 9)
file 2017-05-31.json done, shape = (5996, 9)
file 2017-06-01.json done, shape = (1015, 9)
file 2017-06-02.json done, shape = (3738, 9)
file 2017-06-03.json done, shape = (2416, 9)
file 2017-06-04.json done, shape = (1517, 9)
file 2017-06-05.json done, shape = (7587, 9)
file 2017-06-06.json done, shape = (2614, 9)
file 2017-06-07.json done, shape = (6887, 9)
file 2017-06-08.json done, shape = (7252, 9)
file 2017-06-09.json done, shape = (5980, 9)
file 2017-06-10.json done, shape = (4793, 9)
file 2017-06-11.json done, shape = (4450, 9)
file 2017-06-12.json done, shape = (6832, 9)
file 2017-06-13.json done, shape = (4609, 9)
file 2017-06-14.json done, shape = (4827, 9)
file 2017-06-15.json done, shape = (1746, 9)
file 2017-06-16.json done, shape = (8380, 9)
file 2017-06-17.json done, shape = (2477, 9)
file 2017-06-18.json done, shape = (7373, 9)
file 2017-06-19.json done, shape = (7186, 9)
file 2017-06-20.json done, shape = (7493, 9)
file 2017-06-21.json done, shape = (5660, 9)
file 2017-06-22.json done, shape = (4366, 9)
file 2017-06-23.json done, shape = (2961, 9)
file 2017-06-24.json done, shape = (4765, 9)
file 2017-06-25.json done, shape = (7230, 9)
file 2017-06-26.json done, shape = (4839, 9)
file 2017-06-27.json done, shape = (7527, 9)
file 2017-06-28.json done, shape = (2189, 9)
file 2017-06-29.json done, shape = (4229, 9)
file 2017-06-30.json done, shape = (5235, 9)
file 2017-07-01.json done, shape = (3008, 9)
file 2017-07-02.json done, shape = (6367, 9)
file 2017-07-03.json done, shape = (7855, 9)
file 2017-07-04.json done, shape = (5524, 9)
file 2017-07-05.json done, shape = (1516, 9)
file 2017-07-06.json done, shape = (3850, 9)
file 2017-07-07.json done, shape = (2328, 9)
file 2017-07-08.json done, shape = (7660, 9)
file 2017-07-09.json done, shape = (6741, 9)
file 2017-07-10.json done, shape = (2642, 9)
file 2017-07-11.json done, shape = (6108, 9)
file 2017-07-12.json done, shape = (7121, 9)
file 2017-07-13.json done, shape = (1496, 9)
file 2017-07-14.json done, shape = (3810, 9)
file 2017-07-15.json done, shape = (7421, 9)
file 2017-07-16.json done, shape = (1738, 9)
file 2017-07-17.json done, shape = (6382, 9)
file 2017-07-18.json done, shape = (5708, 9)
file 2017-07-19.json done, shape = (2025, 9)
file 2017-07-20.json done, shape = (6177, 9)
file 2017-07-21.json done, shape = (5521, 9)
file 2017-07-22.json done, shape = (4006, 9)
file 2017-07-23.json done, shape = (2736, 9)
file 2017-07-24.json done, shape = (2081, 9)
file 2017-07-25.json done, shape = (4540, 9)
file 2017-07-26.json done, shape = (3895, 9)
file 2017-07-27.json done, shape = (6824, 9)
file 2017-07-28.json done, shape = (7434, 9)
file 2017-07-29.json done, shape = (5961, 9)
file 2017-07-30.json done, shape = (2394, 9)
file 2017-07-31.json done, shape = (6996, 9)
file 2017-08-01.json done, shape = (5063, 9)
file 2017-08-02.json done, shape = (1670, 9)
file 2017-08-03.json done, shape = (5935, 9)
file 2017-08-04.json done, shape = (4494, 9)
file 2017-08-05.json done, shape = (6898, 9)
file 2017-08-06.json done, shape = (5192, 9)
file 2017-08-07.json done, shape = (5463, 9)
file 2017-08-08.json done, shape = (8053, 9)
file 2017-08-09.json done, shape = (3305, 9)
file 2017-08-10.json done, shape = (2285, 9)
file 2017-08-11.json done, shape = (5076, 9)
file 2017-08-12.json done, shape = (6790, 9)
file 2017-08-13.json done, shape = (5272, 9)
file 2017-08-14.json done, shape = (1703, 9)
file 2017-08-15.json done, shape = (5832, 9)
file 2017-08-16.json done, shape = (1494, 9)
file 2017-08-17.json done, shape = (8397, 9)
file 2017-08-18.json done, shape = (5242, 9)
file 2017-08-19.json done, shape = (6445, 9)
file 2017-08-20.json done, shape = (6650, 9)
file 2017-08-21.json done, shape = (1137, 9)
file 2017-08-22.json done, shape = (6014, 9)
file 2017-08-23.json done, shape = (3016, 9)
file 2017-08-24.json done, shape = (947, 9)
file 2017-08-25.json done, shape = (8251, 9)
file 2017-08-26.json done, shape = (4479, 9)
file 2017-08-27.json done, shape = (8533, 9)
file 2017-08-28.json done, shape = (5560, 9)
file 2017-08-29.json done, shape = (4441, 9)
file 2017-08-30.json done, shape = (5525, 9)
file 2017-08-31.json done, shape = (6787, 9)
file 2017-09-01.json done, shape = (6814, 9)
file 2017-09-02.json done, shape = (2895, 9)
file 2017-09-03.json done, shape = (3212, 9)
file 2017-09-04.json done, shape = (2662, 9)
file 2017-09-05.json done, shape = (2134, 9)
file 2017-09-06.json done, shape = (7666, 9)
file 2017-09-07.json done, shape = (1719, 9)
file 2017-09-08.json done, shape = (2923, 9)
file 2017-09-09.json done, shape = (5294, 9)
file 2017-09-10.json done, shape = (7560, 9)
file 2017-09-11.json done, shape = (6158, 9)
file 2017-09-12.json done, shape = (4447, 9)
file 2017-09-13.json done, shape = (5124, 9)
file 2017-09-14.json done, shape = (3494, 9)
file 2017-09-15.json done, shape = (3666, 9)
file 2017-09-16.json done, shape = (4897, 9)
file 2017-09-17.json done, shape = (6206, 9)
file 2017-09-18.json done, shape = (7416, 9)
file 2017-09-19.json done, shape = (1266, 9)
file 2017-09-20.json done, shape = (1029, 9)
file 2017-09-21.json done, shape = (2587, 9)
file 2017-09-22.json done, shape = (8264, 9)
file 2017-09-23.json done, shape = (6973, 9)
file 2017-09-24.json done, shape = (3266, 9)
file 2017-09-25.json done, shape = (7390, 9)
file 2017-09-26.json done, shape = (8097, 9)
file 2017-09-27.json done, shape = (1257, 9)
file 2017-09-28.json done, shape = (3179, 9)
file 2017-09-29.json done, shape = (3069, 9)
file 2017-09-30.json done, shape = (5117, 9)
file 2017-10-01.json done, shape = (1385, 9)
file 2017-10-02.json done, shape = (4030, 9)
file 2017-10-03.json done, shape = (6211, 9)
file 2017-10-04.json done, shape = (1944, 9)
file 2017-10-05.json done, shape = (3654, 9)
file 2017-10-06.json done, shape = (1154, 9)
file 2017-10-07.json done, shape = (6288, 9)
file 2017-10-08.json done, shape = (919, 9)
file 2017-10-09.json done, shape = (7181, 9)
file 2017-10-10.json done, shape = (6863, 9)
file 2017-10-11.json done, shape = (7548, 9)
file 2017-10-12.json done, shape = (2146, 9)
file 2017-10-13.json done, shape = (5798, 9)
file 2017-10-14.json done, shape = (6010, 9)
file 2017-10-15.json done, shape = (6108, 9)
file 2017-10-16.json done, shape = (4633, 9)
file 2017-10-17.json done, shape = (8089, 9)
file 2017-10-18.json done, shape = (5386, 9)
file 2017-10-19.json done, shape = (2809, 9)
file 2017-10-20.json done, shape = (6466, 9)
file 2017-10-21.json done, shape = (964, 9)
file 2017-10-22.json done, shape = (1514, 9)
file 2017-10-23.json done, shape = (2655, 9)
file 2017-10-24.json done, shape = (2461, 9)
file 2017-10-25.json done, shape = (1286, 9)
file 2017-10-26.json done, shape = (4093, 9)
file 2017-10-27.json done, shape = (7949, 9)
file 2017-10-28.json done, shape = (1289, 9)
file 2017-10-29.json done, shape = (4159, 9)
file 2017-10-30.json done, shape = (1370, 9)
file 2017-10-31.json done, shape = (2715, 9)
file 2017-11-01.json done, shape = (4519, 9)
file 2017-11-02.json done, shape = (4069, 9)
file 2017-11-03.json done, shape = (4657, 9)
file 2017-11-04.json done, shape = (3696, 9)
file 2017-11-05.json done, shape = (3308, 9)
file 2017-11-06.json done, shape = (5760, 9)
file 2017-11-07.json done, shape = (4252, 9)
file 2017-11-08.json done, shape = (2661, 9)
file 2017-11-09.json done, shape = (1923, 9)
file 2017-11-10.json done, shape = (2715, 9)
file 2017-11-11.json done, shape = (4354, 9)
file 2017-11-12.json done, shape = (3261, 9)
file 2017-11-13.json done, shape = (1845, 9)
file 2017-11-14.json done, shape = (5724, 9)
file 2017-11-15.json done, shape = (1686, 9)
file 2017-11-16.json done, shape = (1277, 9)
file 2017-11-17.json done, shape = (7189, 9)
file 2017-11-18.json done, shape = (8250, 9)
file 2017-11-19.json done, shape = (6511, 9)
file 2017-11-20.json done, shape = (6974, 9)
file 2017-11-21.json done, shape = (7956, 9)
file 2017-11-22.json done, shape = (6366, 9)
file 2017-11-23.json done, shape = (2409, 9)
file 2017-11-24.json done, shape = (4063, 9)
file 2017-11-25.json done, shape = (5169, 9)
file 2017-11-26.json done, shape = (1437, 9)
file 2017-11-27.json done, shape = (5081, 9)
file 2017-11-28.json done, shape = (4868, 9)
file 2017-11-29.json done, shape = (2350, 9)
file 2017-11-30.json done, shape = (1586, 9)
file 2017-12-01.json done, shape = (4463, 9)
file 2017-12-02.json done, shape = (2583, 9)
file 2017-12-03.json done, shape = (7108, 9)
file 2017-12-04.json done, shape = (7414, 9)
file 2017-12-05.json done, shape = (2557, 9)
file 2017-12-06.json done, shape = (2045, 9)
file 2017-12-07.json done, shape = (6343, 9)
file 2017-12-08.json done, shape = (5548, 9)
file 2017-12-09.json done, shape = (1021, 9)
file 2017-12-10.json done, shape = (3761, 9)
file 2017-12-11.json done, shape = (7541, 9)
file 2017-12-12.json done, shape = (7012, 9)
file 2017-12-13.json done, shape = (7816, 9)
file 2017-12-14.json done, shape = (7839, 9)
file 2017-12-15.json done, shape = (5290, 9)
file 2017-12-16.json done, shape = (7088, 9)
file 2017-12-17.json done, shape = (8376, 9)
file 2017-12-18.json done, shape = (2691, 9)
file 2017-12-19.json done, shape = (5786, 9)
file 2017-12-20.json done, shape = (5260, 9)
file 2017-12-21.json done, shape = (3277, 9)
file 2017-12-22.json done, shape = (3770, 9)
file 2017-12-23.json done, shape = (6724, 9)
file 2017-12-24.json done, shape = (5313, 9)
file 2017-12-25.json done, shape = (5640, 9)
file 2017-12-26.json done, shape = (4154, 9)
file 2017-12-27.json done, shape = (5012, 9)
file 2017-12-28.json done, shape = (2850, 9)
file 2017-12-29.json done, shape = (7435, 9)
file 2017-12-30.json done, shape = (1225, 9)
file 2017-12-31.json done, shape = (6032, 9)

In [77]:
df = pd.read_csv('Skyteam_Exchange.csv')

In [78]:
df.shape

(1682517, 9)

In [79]:
df.head()

  CLASS    FARE        DATA  FLIGHT FROM  STATUS   TO PROGRAMM     NUMBER
0     Y  YRSTFN  2017-01-01  AF1145  SVO  LANDED  CDG       FB  520518073
1     Y  YGRPZR  2017-01-01  AF1844  SVO  LANDED  CDG       FB   18427809
2     Y  YRSTJQ  2017-01-01  AF4855  SVO  LANDED  CDG       KE  993927664
3     Y  YGRPAT  2017-01-01  AF4901  SVO  LANDED  CDG       SU  789402704
4     Y  YFLXKO  2017-01-01   AZ545  SVO  LANDED  FCO       KE  352734424